{% extends 'base.html' %}
{% csrf_token %}
{% block title %}
    Страница не найдена
{% endblock %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">К сожалению такой страницы не существует</h1>
    </div>
    <div class="single-card__section-text">
        Не расстраивайтесь, напишите нам и мы попробуем вам помочь
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static 'js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/myFollow.js' %}"></script>
{% endblock %}