<!doctype html>
<html lang="ru">
<head>
    {% load static %}
    {% csrf_token %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            HotCams
        {% endblock %}
    </title>
    {% load static %}
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    {% include 'nav.html' %}
    <main>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    {% include 'footer.html' %}
    {% block scripts %}
    {% endblock %}
</body>
</html>